body{
    background: linear-gradient(to left , skyblue, lightgreen);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

body{
    background-image: url("background.webp");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;

}


h1{
    color:black;
    font-family: "Times New Roman", Times, serif;
    text-align: center;
    border-top-style: dotted;
    border-bottom-style: dotted;
    border-left-style: double;
    border-right-style: double;
    border-width: 10px;
    border-color: gold;
    border-radius: 10px;
    padding: 10px;
}
        
p{
    background: linear-gradient(to left, lightblue, lightgreen);
    color: azure;
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
    font-size: 20px;
    font-weight: bold;
    /* text-decoration: underline; */
    text-align: center;

}

p{
    border-style: solid;
    border-width: 5px;
    border-color:gold;
    border-radius: 10px;
    padding: 10px;

}

#p1{
    color: red;
    background-color: lightblue;
}
#p2{
    color: blue;
    background-color: lightgray;
}
#p3{
    color: green;
    background-color: lightgreen;
}
#p4{
    color: purple;
    background-color: lightyellow;
}

.odd{
    color:red;
}

.even{
    color:chartreuse;
}